[2020-08-08 13:23] danniehansen opened #3 "Export"
A feature requested lately have been the ability of exporting tracked time. The idea with this is that you can under 'Activity timer history' have the ability to export your filtered result to CSV. Each card will have their own row & columns will match board members and contain their tracked time for this card.

[2020-08-08 13:32] danniehansen opened #4 "Automatically move card to list when time tracking starts"
A requested feature as of lately. A setting allowing cards to be automatically moved to a specific list of your choice when you start tracking time. Very useful if you have a 'In progress' list for your cards.

[2020-08-08 13:34] danniehansen opened #5 "Disallow multiple active tracking for same user"
Right now when a user starts tracking time for cards it will not stop others actively tracking. This should be fixed as it often leads to cards getting tracked for longer than they should have been. Activity timer should stop other tracking in progress when starting a new one.

[2020-08-08 13:36] danniehansen opened #6 "Code cleanup. Allowing for easier collaboration"

[2020-08-08 13:38] danniehansen opened #7 "In-progress tracking rewrite"
Right now when you're currently tracking time is kept as private card data. The issue with this is that if you have cards running for many hours others cannot see how much you've spent to far. It's first when a timer is stopped that time is pushed to the shared card data & then becomes available for others.

This issue will fix this by moving in progress tracking to shared card data. So everyone c

[2020-08-08 13:39] danniehansen opened #8 "Delete estimates / clear estimates"
There is currently not way of clearing estimates made by other team members or cherry picking some and deleting them. This issue should resolve this by adding a 'Clear estimates' item at the bottom of the estimates list & when clicking on a estimate you'll be prompted if you wish to delete it.

[2020-08-08 21:27] #6 closed

[2020-08-08 21:32] #8 closed

[2020-08-17 18:35] #7 closed

[2020-08-25 18:27] #5 closed

[2020-08-25 20:05] #3 closed

[2020-08-31 07:55] Feardrop opened #15 ""Activity timer history" does not load / Stuck in loading."
The popup window "Activity timer history" does not display any content anymore (after the new update 1.1.0), except a rotating loading circle.

I tested this in Firefox and Edge, neither works.

![grafik](https://user-images.githubusercontent.com/28101114/91696409-d07d6f00-eb6f-11ea-8979-0457fa2f1893.png)

----
**Edit:**
Apparently the token for this request is invalid:
`const data = await fetch('

[2020-08-31 16:01] danniehansen commented on #15
Good observation. Thank you for the detailed bug report, much appreciated! I'll be looking into the issue this evening or tomorrow. Once again, thank you :)

[2020-08-31 16:15] Feardrop commented on #15
Of course, mate. ;-)
And thank you for this nice plugin!

Greetings, Norman

Am 31.08.2020 um 18:01 schrieb Dannie Hansen <notifications@github.com>:

﻿

Good observation. Thank you for the detailed bug report, much appreciated! I'll be looking into the issue this evening or tomorrow. Once again, thank you :)

—
You are receiving this because you authored the thread.
Reply to this email directly,

[2020-09-01 18:00] danniehansen commented on #15
@Feardrop It should be fixed now. Pushed a new hotfix for this. Activity timer will now fall back to showing authentication screen in case any exception occurs during network transfer for getting the activity timer history records.

Thanks for reporting this issue. If the issue persist please try to flush browser cache and try again.

[2020-09-02 07:02] Feardrop commented on #15
@danniehansen The initial catch works. I can see the "Activate" text and button. But the authentication screen popup window opens and closes immediately. The algorithm tries to fetch the history-data with the original token. Therefore it gets an `invalid token` response and crashes.

I cleared my browser and even used a different one.
i don't know where the token value is stored, but i think you s

[2020-09-02 11:21] danniehansen commented on #15
Ouch. My bad. Was unable to reproduce an invalid token to test, so I made
an assumption. I'll investigate further tonight. Thank you for your
patience :)

On Wed, Sep 2, 2020, 9:02 AM Norman Philipps <notifications@github.com>
wrote:

[2020-09-02 19:15] danniehansen commented on #15
@Feardrop Looks like GitHub automatically closes the issue when i merge a merge request connected to it... annoying. However - i think i found the issue. When token becomes invalid or otherwise no longer work it will keep responding with the same token when you make new authentication requests. I had to manually force revoke existing token before re-authenticating again.

My test wen't well. But I

[2020-09-03 09:39] danniehansen opened #18 ""You've reached null% of estimate" issue"
Sometimes Activity timer notifies when starting a new card that has estimate right away.

[2020-09-03 17:56] danniehansen commented on #15
@Feardrop Glad to hear! Thanks once again for reporting this :)

[2020-09-03 17:56] #15 closed

[2020-09-04 14:50] gfernandez-me opened #19 "[BUG] Multiple Start"
When one person clicks start and another person does the same, the previous card stops.

[2020-09-04 14:53] danniehansen commented on #19
@gfernandez-me Thanks for reporting this. Just to be sure before debugging further this weekend. Is this issue occurring when user 'a' starts tracking on card 'a' & user 'b' start tracking on card 'b'? Or is it when they start tracking on the same card?

[2020-09-04 15:51] gfernandez-me commented on #19
@danniehansen
this issue occurring when user 'a' starts tracking on card 'a' & user 'b' start tracking on card 'b'

[2020-09-06 11:40] danniehansen commented on #19
@gfernandez-me Could you record a video of the occurrence? I've tried to replicate it with two different users on the same board (normal browser window & incognito window). But unfortunately I'm unable to replicate it.

[2020-09-08 23:28] Checkmate363 opened #22 "Timer Ends When Card Moves List"
When I have an active timer and move the card between lists, the timer ends. Is this intended?

[2020-09-09 14:52] danniehansen commented on #22
Hi @Checkmate363

Yeah - this is the intended functionality. The reason behind it was that in the early stages of tested with a few users we saw that users often forgot to stop the timer. Because of this and that typical workflows have a in progress list for card we saw this as a way of mitigating the issue.

I could add a setting for this so that users can disable this behavior globally on the po

[2020-09-09 17:09] Checkmate363 commented on #22
A setting would be nice. I tend to start the timer when my card is in my "Today" list and then move it to "Doing Now", rather then the other way around.

[2020-09-09 17:21] danniehansen commented on #22
@Checkmate363 Alrighty. Got it. I agree - a setting would be nice. I'm adding this for the next release in two weeks. Might be before, depends on if i can find a free evening to work on it.

[2020-09-20 13:27] #18 closed

[2020-09-20 13:29] danniehansen commented on #19
@gfernandez-me I'm closing this issue due to inactivity. Let me know if there is anything new in it and I'll reopen.

[2020-09-20 13:29] #19 closed

[2020-09-20 14:00] #22 closed

[2020-09-20 14:01] danniehansen commented on #22
@Checkmate363 I've added a new 'Settings' button under the card buttons that allows you to toggle this feature. Also have another feature in progress that allows you to move the card to a list of your choice when you start tracking. More on this later today :)

[2020-09-21 18:21] Checkmate363 commented on #22
@danniehansen Awesome. And I love the idea of the autostart timer when I move cards to some sort of "doing now" list.

[2020-12-28 09:34] jknechtl opened #28 "Manually edit tracked time"
Hi, it would be lovely to be able to change / add / remove tracked time. In case where you forgot to stop / start time tracking button.

[2020-12-28 09:39] jknechtl commented on #28
Or make it bit more user friendly (found it just now)

[2020-12-29 09:04] danniehansen commented on #28
@jknechtl I've tried to cover this area in the readme of the powerup. Unfortunately Trello doesn't provide much better UI controls than what we go at the moment. I'll leave this issue open as a discussion board regarding this.

Do you have any suggestions as to how the "Manage time" section could be improved?

[2021-01-28 14:53] jonez1 opened #29 "Minute/Hour summary + shortening at the `Manage time` card on each entry"
Hello Dannie,
first of all, thank you for your trello power up.

I was thinking about some little update to `Manage time` card entries.
1) It would be nice to have there after the time range some kind of summary in minutes or hours (see the screenshot).
![obrazek](https://user-images.githubusercontent.com/33315573/106152081-52a0ac80-617d-11eb-8725-6405e085fcdf.png)

2) When the time interval is on

[2021-01-28 20:52] danniehansen commented on #29
Hi @jonez1

Really interesting feedback. I love both suggestions.

I think minutes would be a good addition. We could do '1h 2m' to shorten it down even more and allow for hours to be displays? What's to note about this display is that it's a Trello component - so the only thing that we can change is the actual text.

Which is why this tied greatly into your 2nd suggestion. Most tracking's is with

[2021-01-30 20:27] jonez1 commented on #29
I've made the changes, it was quite straightforward. It should work as suggested.
The only thing i couldn't do is to test it in the Trello environment. Is there a way to test it?

[2021-02-10 12:25] VitaliyAdamkov opened #32 ""Start timer" stops reacting | PluginData length of 4096 characters exceeded"
When I reach 80 time intervals into the card's "Manage time", button "Start timer" stops reacting & browser's JS console outputs this:
[code]

[2021-02-10 18:39] danniehansen commented on #32
Hi @VitaliyAdamkov ,

Thanks for reporting this. Unfortunately there isn't much we can do. I've taken care of reducing the footprint of the data - but as it appears in edge cases it isn't enough.

But that being said.. we can definitely improve the actual UI when this occurs. Ideally we should show some kind of message that it have exceeded the plugin data length on the card it-self. I will use th

[2021-02-11 08:51] VitaliyAdamkov commented on #32
Hi @danniehansen ,
Np. Ok then, I'll try to manage my time less precisely %)
47h wasted on task maybe is too much also.

[2021-03-02 23:59] natekwilson commented on #28
Something similar to how the Trello Plus extension manages manual time additions. Just give a small blank input box for a number of hours and have it assume that you just completed those hours at the present time. (this could be then edited by the existing 'manage time' section on the right). Does the extension have a mandated reality check for overlapping work windows?

https://4.bp.blogspot.com/

[2021-03-05 21:31] danniehansen commented on #29
@jonez1 Your PR was merged. I'll close this issue on this note. Thank you for looking into this optimization :)

[2021-03-05 21:31] #29 closed

[2021-05-31 14:48] Attacler opened #38 "Add time manually"
Can you make a way to enter time manually?
Basicly i had another extension first that would track the time for me but it did not fully meet my requirements.
This extension does, but sometimes when you forget to start the timer, you cannot enter (for example) an hour on your own.

[2021-06-05 20:56] danniehansen commented on #38
Hi Attacler,

Manually adding time is possible - just a bit clunky. If you start and stop the timer right away - then you can just modify that 1 second timeslot to whatever manually registered time you want to register :) That's how I've been doing it.

I'll leave the issue open. Because while there is a work-around - it would be nice to actually have a feature implemented for this.

[2021-06-06 00:39] SheepaCZE opened #40 "Firefox authorization problem"
Hi, just for the record, I am gonna post here what we talked about through the email.

I probably found a bug that only occurs in the Firefox browser. I've tried downgrading, updating, reinstalling, clearing memory, nothing helped. Once I use any browser based on chrome core, for example Brave, everything is perfectly fine. I am talking about the "Activity timer history" entry, if is opened in Fir

[2021-06-07 20:28] danniehansen commented on #40
Thank you for reporting this @SheepaCZE - I will look into this, this weekend. Will keep you posted.

[2021-06-08 05:44] LexGear commented on #4
I second this. Everyone in my office who I've just gotten onto this power-up is asking for automatic start timer when moving card to list, or something similar to what is described above.

[2021-06-09 06:48] nickycdk opened #41 "Feature request: See time that isn't submitted"
If a person hasn't "stopped" the clock, it would be great if that was still visible under "Manage time", so it is possible to see who still has the "clock" running.

[2021-06-11 18:00] danniehansen commented on #41
Enhancement added to https://github.com/danniehansen/activity-timer/pull/42 & merged into 1.1.6

[2021-06-11 18:00] #41 closed

[2021-06-11 19:32] danniehansen commented on #40
@SheepaCZE Not 100% sure it's the same issue as you've described here. But the only thing i was able to find was when clicking 'Authorize' then nothing happened. Should be fixed in latest release - can you give it a shot? (remember to clear your browser cache)

[2021-06-11 19:33] danniehansen commented on #38
@Attacler Added 'Add manually' option under 'Manage time' when you have at least 1 tracking. The UI is a bit janky - but it's what we can do with Trello's built in UI :)

[2021-06-11 19:33] #38 closed

[2021-06-11 19:36] danniehansen commented on #32
@VitaliyAdamkov I've worked in a better handler for when this issue surfaces. If plugin data is exceeded then we first try to remove the current time tracker so you're not stuck in some sort of tracking loop. If this is a success we'll inform the user about what was wrong. If we could not stop the loop we'll inform the user about this as well. Any other exception occurring while stopping the timer

[2021-06-11 19:36] #32 closed

[2021-06-11 19:40] danniehansen commented on #28
@natekwilson Sorry for the crazy late reply. Haven't noticed your comment. Just now implemented a way of manually adding time under 'Manage time'. When you have at least one tracking you can add additional trackings manually.

Unfortunately there is no checks for overlapping trackings. I'd be more than happy to look into this. Could you open a separate issue for this?

[2021-06-11 19:55] danniehansen commented on #4
@LexGear Have an update on this. Until now I haven't been able to think of a way of archiving this. This have been due to limitations in the plugin system Trello made where i wont be able to know which user moved a card from A -> B. Without this knowledge i could not possibly start the timer for the correct person.

(Technical v )
However - I found that if i request access to the REST API I'm able

[2021-06-12 12:25] SheepaCZE commented on #40
Hello.

I'm afraid my problem still persists. I have cleaned the entire system, both the main PC and the laptop. The same problem on both devices. I am also attaching samples to be sure that everything has been cleaned properly. I log back into Trello, click on "activity timer history" and can't do anything. :(

![c1](https://user-images.githubusercontent.com/38692682/121775777-ec478400-cb89-11eb-

[2021-06-12 12:28] SheepaCZE commented on #40
The main problem is that I can't even get to the authorization, I have a white window from the very beginning.

[2021-06-12 12:47] danniehansen commented on #40
@SheepaCZE Ouch - that's unfortunate. I think what would help me further investigate this is the devtools console output. I've tested on 2 separate systems with a fresh Firefox install & there it's working as expected.

To supply devtools console output you can right click anywhere on your trello board & choose 'Inspect'. Once the inspector is open - navigate to "Console" & reload the page. Afterw

[2021-06-12 12:49] SheepaCZE commented on #40
So I played with it some more and I think I found the hidden problem. Both of my browsers had "Strict" Browser privacy set by default for some reason, which for some reason this item doesn't like and therefore shows a white window. When I switched the browser to "Standard" mode, everything worked again. Apologies for the mystification. Interesting that I had the default strict settings for both.
!

[2021-06-12 13:05] danniehansen commented on #40
@SheepaCZE Ah - that explains it. No need for apologies - while i cannot do anything about this in particular because the browser is blocking the Trello power-up at a higher level it did lead me on to find an issue in Firefox with the 'Authorize' button. I'll mark the issue as closed for now :) Let me know if you experience anything else unusual.

[2021-06-12 13:05] #40 closed

[2021-06-13 09:19] danniehansen commented on #4
@LexGear I've released a beta feature that allows for this. There is no such thing in the Trello SDK that allows me to do this - so I've had to go through a lot of loop-holes to get it working.

You should (after clearing browser cache) be able to access new settings for enabling this feature under your power-up settings. Please note that this is not the 'Settings' card button shown when on a card

[2021-06-13 09:19] #4 closed

[2021-06-14 02:45] LexGear commented on #4
Sorry for the late reply! Thank you so much for doing this. I'm going to
play around with it now. Just initial testing shows it is not triggering,
but let me play with it a bit more.

*Regards,*
*Luke Molnar*

On Sun, 13 Jun 2021 at 19:20, Dannie Hansen ***@***.***>
wrote:

[2021-06-14 18:30] danniehansen commented on #4
@LexGear You might need to re-enable the feature. If you've used 'Activity timer history' then you've likely given a more restrictive access to the power-up than which is asked on the 'auto timer' setting. However - due to restrictions with the SDK available i cannot detect how much privilege a given access has. Disabling the auto-move and enabling it again might solve this - as disabling will rev

[2021-06-16 15:07] jonez1 opened #46 "Manually added time is not visible in `Manage time` listing, neither in `Activity Timer History` (since 1.2.0)"
Hello Dannie.
I've noticed some new features, but i've found a bug when adding spent time to the task through `Add manually` link.
This manually added time is not visible in `Manage Time` at the task sidebar (see figure 1), neither in `Activity Timer History` (see figure 2).

Replication of the issue described on the figure one.
- [1] recorded some time through running timer
- [2] added 35mins man

[2021-06-16 19:18] danniehansen commented on #46
Hi @jonez1

First of all - really appreciate the descriptive issue, on point. You're absolutely right - looks like I've forgot to assign the member when manually adding time. I'll push a fix out here later tonight or tomorrow.

Once again. Appreciate it.

[2021-06-17 20:21] danniehansen commented on #46
@jonez1 This is fixed in 1.2.1 - also made invisible time trackings or trackings for users not there anymore appear under "Manage time" / "Time spent".

Once again thanks for reporting.

[2021-06-17 20:21] #46 closed

[2021-08-16 08:14] TinaKaltoft commented on #28
Hi @danniehansen  - is it possible to add time manually, without having any tracking on the card? Or can it be made as possible?

[2021-08-17 19:09] danniehansen commented on #28
Hi @TinaKaltoft - not possible at the moment but I'll implement it here within a week or two. Not sure why I made it an option only when at least 1 time track logged..

[2021-08-23 17:35] danniehansen commented on #28
@TinaKaltoft Added in https://github.com/danniehansen/activity-timer/releases/tag/1.2.2

[2021-08-23 17:35] #28 closed

[2021-09-01 15:20] MatejSz opened #51 "It's not possible to make a total summary of estimate in one column"
It's not possible to make a total summary of estimates in one column.

For planning the sprint It would be very beneficial if we could see sum of all estimates in one column.
Now we can only see the estimation of separate tasks and we have to sum the total time of all tasks by calculator or external program.

[2021-09-10 08:52] TinaKaltoft3 opened #52 "Extract total estimate time"
Hi
Is it possible to make an extract where the total estimate time is visible

and

If two of my team-members have worked on a card - I can't se both name in the csv-fil - am I doing something wrong? Or is it not possible?

Kind Regards Tina

[2021-09-22 19:20] danniehansen commented on #52
Hi @TinaKaltoft3

Sorry for the late reply. Missed I had notifications about this.

It will actually if multiple team members have tracked time on the same card create a row for each members tracking's in the "Export to CSV" function under 'Activity timer history'.

Is this what you're looking for?

[2021-09-22 19:23] danniehansen commented on #51
@MatejSz

First. Sorry for the late reply. Haven't notices the notifications about these issues.

Recently we switched internally to use SCRUM and quickly realized this very same thing. Unfortunately there is no easy way of implementing this as Trello's API is rather limited. I'm not able to inject anything in on the overlay of cards other than a button up top like "Activity timer history" or the

[2021-09-23 06:24] TinaKaltoft3 commented on #52
Hi Daninie

No worries
Yes i think that would solve my problem

New Q - is it possible to extract 'Total estimated time' pr. card??

[2021-10-20 10:52] MatejSz commented on #51
Hello @danniehansen,
we were talking about this feature in our team and we would be happy if you could Implement suggested ability:
 "Activity timer history" to flip between showing time tracked & estimates.

 Thank you very much we really appreciated it.

[2021-11-01 19:48] danniehansen commented on #51
@MatejSz

Sounds great. I'm not sure when I will be able to implement this or in what variant it will be implemented. But I will keep you posted here on the issue.

[2021-11-02 07:20] MatejSz commented on #51
@danniehansen

Thank you very much, Dannel.
We'll wait for your message here ;).

Have a great day

[2021-12-05 17:48] danniehansen commented on #52
@TinaKaltoft3 Just a heads-up. This will be planned into the next release (V2.0.1) of Activity timer & will be available on the Pro version (more coming in a day or so). V2.0.0 will be out soon & feature a complete rewrite of Activity timer. This will allow for faster progress on new features. Will keep you posted here on this when I know more.

[2021-12-05 17:50] danniehansen commented on #51
@MatejSz Update. Please see https://github.com/danniehansen/activity-timer/issues/52#issuecomment-986272045 - more info will follow once V2.0.0 is out and available.

[2021-12-11 21:18] danniehansen commented on #52
@TinaKaltoft3 Since V2.0.0 I've worked heavily on data exporting & completely overhauled the old exporter. This now also features a estimate data exporter for you to export estimates with various filtering and group by features.

The filtering part is all part of the new pro plan. But you can still export everything on the free plan. If you'd like to try the pro plan you can do so for 7 days for f

[2021-12-11 21:22] danniehansen commented on #51
@MatejSz Since v2.0.0 has been released I've worked at completely revamping data exporting. It now features estimates and loads of new filtering options. Filtering is however a pro feature - but you can try it out for 7 days for free.

For estimates filtering on estimates it allows you to continuously track how much you've put in for the sprint by having a secondary window open with your filtering

[2021-12-14 08:03] MatejSz commented on #51
Thank you very much @danniehansen .
We'll try it ;).

Have a nice day

[2021-12-16 19:50] #51 closed

[2021-12-16 19:50] #52 closed

[2021-12-29 07:48] beniza opened #61 "Option to record activity description"
### Feature Request
As a **user**
I would like to **have an option to add a small description (preferably rich text) of the activity being logged**
So that **I'll be able to better analyze and stream my activities**

### Addl. Info.
Thanks for this excellent time tracker, especially that you're keeping this open source. 🙏. I believe having an option to add a small note (*preferably in rich text fo

[2022-01-02 20:41] danniehansen commented on #61
Hi @beniza,

Great suggestion. Actually had this one on my mind for some time as well. Unfortunately it comes with some limitations that could dramatically limit the usability of Activity timer. You see, Trello have limited the amount of data that a powerup can save on a card to 4KB. & if you use Activity timer to do a lot of tracking's in an individual card it quickly adds up.

If this should als

[2022-01-03 04:52] beniza commented on #61
Thank you @danniehansen for your quick and detailed response. I didn't know about the 4KB limitation. Although it would have been nice to have this feature, I understand that it can introduce other usability issues. Thanks for considering to keep this option open.

[2022-02-18 02:07] RomainH4890 opened #65 "Start/Stop Timer When Card is Open/Closed"
Hello Dannie,

Would it be possible to start the timer as soon as a card is open ?
And to stop the timer as soon as a card is closed ?

Even if this is not the standard behaviour, it could be an option which could be chosen in the power-up parameters.

[2022-02-21 19:35] danniehansen commented on #65
Hi @RomainH4890,

Appreciate the feature request!

I do think it is possible to make. Just not sure how easy it would be.

Also not entirely sure how well that fits with my vision of Activity timer. I want to ensure that i do not include too niche items that make it fell bloated. But i will however keep the discussion open by leaving the issue here. Then if others fell like this would really be he

[2022-02-21 19:50] RomainH4890 commented on #65
Hello Dannie,

Thank you for your answer.

I have been using your power-up for some days now, and I find it could really provide some interesting datas.
I chose it over other solutions, because of it simplicity (others are too complex and visible, yours is discret as it needs to be).

But I too often forget to start or stop the timer during my work, and even when I do it, it represent a tedious ta

[2022-02-22 07:04] andrewvink opened #66 "Hide / Disable - Activity Timer from other Users on the Board"
Having the ability to Hide / Disable the time for certain users would be awesome!

- **Clients / Collaborators** - If you'd like to share your boards with clients or collaborators, but don't want them to see your internal team times or estimates
- **Personalization** - If only 1 member on the board for example, wants to track their time ( for their own personal performance ) Activity Timer can be

[2022-02-23 09:58] MatejSz opened #67 "Sometimes activity timer record different time than what shows in webbrowser"
We find out that sometimes activity-timer records different times than what shows in a web browser.
So recorded time on the end may be incorrect.

Please see attachment
https://user-images.githubusercontent.com/45109239/155297011-620e350a-9c1c-402c-98f9-ed51f230de36.mp4

Unfortunately, we still have not found out reproduction step to this bug.
It's just happened occasionally, most of the time it w

[2022-02-23 19:48] danniehansen commented on #66
@andrewvink This is some really great thoughts. I'm thinking of maybe turning it around. So instead of selecting which users you would like to hide it from, maybe to select which users Activity timer should be available for. This i suppose would allow you to do just that? Giving few people access & then just hiding it from all other users (including non-authenticated users for public boards).

Lov

[2022-02-24 12:47] andrewvink commented on #66
@danniehansen awesome! Would be awesome to see this feature in the mix - there are a couple other Trello apps that kind of do this, but we prefer Activity Timer over all and would like to have this ideally in one powerup!

[2022-02-28 12:47] MatejSz commented on #67
hi @danniehansen
Thank you for your reply.

We tried the timer again on the previously bugged Trello task, but it works fine this time.
You wrote "The above error happens when your card is cluttered with too many tracking's. "
I don't think we had this error as you can see in the video in the second 0:13.
There you see totally time is only 3 minutes which should not be too many trackings.

But on

[2022-02-28 19:12] danniehansen commented on #67
Hi @MatejSz,

Ah. I see that at 0:13 - then yes, this shouldn't be the case. I will look into it to see if i can locate it. Thank you with the detail that you might be working many people on the same card at the same time, that could be resolved. Will keep this in mind when debugging.

Thank you.

[2022-02-28 20:40] danniehansen commented on #67
@MatejSz

I've done some extensive testing on 2 users tracking on the same the same card & have been unable to provoke that which you're describing here. However, i did notice that if two users are tracking on the same card & one of them move it. Then it only saves the tracking for one of the users and not both.

To further investigate this. Could you help clarify a few things?

1. Which settings

[2022-03-07 19:25] danniehansen commented on #66
Just a heads-up @andrewvink - will be finishing this feature off this weekend. So it should be out by Monday. Will update you here when released :)

[2022-03-08 09:16] andrewvink commented on #66
@danniehansen awesome! Look forward to trying it out :)

[2022-03-13 20:43] danniehansen commented on #66
@andrewvink Added the functionality in https://github.com/danniehansen/activity-timer/releases/tag/2.0.4

You will see the new settings available for visibility control under the powerup settings.

[2022-05-05 09:51] ludwig801 opened #72 "Add 24-hour format support"
Hello.

Being from an european country, I find it extremely confusing to insert/edit timestamps in the current 12-hour (AM/PM).
It would be great if you could make available some sort of configuration so as to be able to enable 24-hour format in "manage time" timestamps.

---

PS: I love the power-up, keep up the good work!

[2022-05-11 19:09] danniehansen commented on #72
Hi @ludwig801,

The issue is that Trello's datetime picker that is official doesn't appear to support 24-hour format. I could however create my own and replace it. I'll keep this open and next time I get some time to work on Activity timer I'll look into supporting this. Appreciate the feedback! And glad that you like it 💯

[2022-05-24 07:38] MatejSz opened #73 "Data exporter - Estimates - does not show all tasks with a filled estimate"
Data exporter - Estimates - does not show all tasks with a filled estimate.

**Steps to reproduce:**
1) Trello: Activity timer - Data exporter - Estimates
2) We filter by Lists=SPRINT BACKLOG (one of our Trello columns)
3) Then we incorrectly don't see all the tasks in column "SPRINT BACKLOG" although the tasks have filled the estimate.
(we don't see about half of our tasks)

Unfortunately, we can

[2022-05-25 19:22] danniehansen commented on #73
Hi @MatejSz,

That's really strange! Thank you for bringing this to my attention. I'll have a look at this, this weekend.

Debugging a Trello powerup that is on close connection with an issue that you're seeing in particular can be quite challenging. As i don't have the same data set. But I'll try to see if i can reproduce this, and if I'm not able to, look over the implementation to see if i can

[2022-05-28 21:25] danniehansen commented on #73
Hi @MatejSz,

This should be fixed in https://github.com/danniehansen/activity-timer/releases/tag/2.1.1

I was also able to provoke this issue on my old board with many cards with and without trackings / estimates.
Any feedback on the new release would be greatly appreciated. You might need to clear cache in order to get the latest changes. Just FYI.

[2022-06-01 14:15] MatejSz commented on #73
Hi @danniehansen .

**Test OK.** Estimates now shows all the tasks with the filled estimate.
Super! Thank you for your fix.

[2022-06-01 14:15] #73 closed

[2022-07-21 13:20] MatejSz opened #75 "Manage time - missing total time for each user."
It would be nice if we could see the total time for each user.
Now we can see only a list of separate times see the screen.
![Manage time - missing total time for each user](https://user-images.githubusercontent.com/45109239/180223616-0400f825-05c3-438d-9f9d-ac970cfc5f42.png)

Trello - -> choose card -> manage time button

[2022-07-21 13:33] MatejSz opened #76 "Manage time - No information who is working on the card, until stoping the timer"
It would be nice if we could see who is working on a task, now until the user stops the timer there is no way to know who is working on the task.
![Manage time - until timer is stop there is no way to know who is working on task](https://user-images.githubusercontent.com/45109239/180226409-e8e1c0fe-05fe-4a48-8f2d-eda811d5abaa.png)

[2022-07-21 13:35] MatejSz commented on #76
This function would be also beneficial in a case when somebody forgets to stop the timer.

[2022-07-21 13:47] MatejSz opened #77 "Show Estimate time in trello attachment card"
It would be nice to have an Estimate time in the Trello attachment card.
So the card would look the same as on the Trello board
![Estimate in Trello attachment card](https://user-images.githubusercontent.com/45109239/180229275-e35887ae-a049-4301-9e20-5cf660cb8fc1.png)

It would be also nice to see on this card already recorded time.

Thank you very much Dannie.I hoped I have not overwhelmed you wi

[2022-07-21 13:50] MatejSz commented on #77
It would be also nice to see on this card already recorded time.

Thank you very much Daniel.

[2022-07-22 20:01] danniehansen commented on #77
Hi @MatejSz,

Thank you for the feature request. I hadn't thought of this just yet, great suggestion.

Initially when looking into it, it does not appear that through a powerup that you can modify this part. I'll leave the card open & dig further here next week. But at it's current state it doesn't look to be feasible with the current Trello API.

[2022-07-22 20:03] danniehansen commented on #76
Hi @MatejSz,

Great suggestion. I'll look into this next week and implement this. Sounds like a great addition. I'll reference the merge request in this issue and ask for feedback from you (showing screenshots) before I'll release it.

[2022-07-22 20:04] danniehansen commented on #75
Hi @MatejSz,

This is actually possible through the 'Time spent' card button. However, we already have the data available at this view & could make total sense just to include the time in the line where the users name are. I'll include this in my release next week. Appreciate the feature request :)

[2022-07-22 20:05] danniehansen commented on #67
I'll close this item due to inactivity. Please fell free to re-open if there is any update.

[2022-07-22 20:05] #67 closed

[2022-07-22 20:10] danniehansen commented on #65
Hi @RomainH4890,

I know it has been a while. I'm considering revisiting this & see what it possible. I'm not 100% convinced that this will work as UX will be hard to work out with the way that powerups are working within Trello. If this is to be made, then it needs to be made right & just make sense. If there is too many edge cases where it does not track properly if where users do not entirely u

[2022-07-22 20:17] danniehansen commented on #77
Putting it in on version 2.2 for discovery on if it's possible & include it if it is.

[2022-07-22 20:18] danniehansen commented on #72
Adding it to next milestone. Will see if I can get to it & include this.

[2022-07-22 20:18] danniehansen commented on #66
Closing due to inactivity. Please fell free to re-open if you have any comments.

[2022-07-22 20:18] #66 closed

[2022-07-22 20:19] danniehansen commented on #65
Adding to version 2.2 release candidate for next week.

[2022-07-23 12:07] RomainH4890 commented on #65
Hello Dannie,

Thank you for reaching out to give me this info.

Could you please confirm to me when it will be available please ?
I will give it another try and let you know how it goes for me.

Another thing : 
I can't find my "sent messages" to you.
Could you send them back to me please ?

Looking Forward to hearing from you.

Have a great day.

Best Regards,

Romain HAYOT
Martinique - 97240
+5

[2022-07-26 22:22] danniehansen commented on #65
Hi @RomainH4890,

I don't have an ETA on when it will be publicly available. I will try to get a tech-demo ready of it this week. Then maybe next week it could be released and made available if it proves to work nicely.

Regarding the messages. I'm not sure, all I got from you is this issue.

[2022-07-27 12:20] danniehansen commented on #76
Hi @MatejSz,

The functionality is now ready for 2.2

See the following screenshot: https://i.imgur.com/6ZnZOOk.png

Also added the ability to click on any running tracking's and have the ability to stop them: https://i.imgur.com/vZSBnuH.png

[2022-07-27 12:31] danniehansen commented on #75
Hi @MatejSz,

This is now implemented and ready to get released with version 2.2. Also made it include running tracking's in the 'Time spent' window. Will notify here when it is out.

[2022-07-27 12:34] danniehansen commented on #77
Hi @MatejSz,

Further research doesn't show any way to hook into this view and allow powerups to manipulate it. So unfortunately we're unable to introduce such functionality. Would have been a great addition though. Appreciate the feature request.

[2022-07-27 12:34] #77 closed

[2022-07-27 12:36] MatejSz commented on #76
Super @danniehansen .
Looking forward.

[2022-07-27 12:38] MatejSz commented on #75
Super. Thx @danniehansen

[2022-07-27 12:40] MatejSz commented on #77
Ok understand.

[2022-08-11 20:41] danniehansen commented on #76
@MatejSz Sorry for the delay. It's now been released with https://github.com/danniehansen/activity-timer/releases/tag/2.2.0

[2022-08-11 20:41] #76 closed

[2022-08-11 20:41] danniehansen commented on #75
@MatejSz Sorry for the delay. It's now been released with https://github.com/danniehansen/activity-timer/releases/tag/2.2.0

[2022-08-11 20:41] #75 closed

[2022-08-11 20:42] danniehansen commented on #72
@ludwig801  Sorry for the delay. It's now been released with https://github.com/danniehansen/activity-timer/releases/tag/2.2.0

Decided to change over to 24hr instead of 12hr. Much broader audience for who uses the powerup. Will be adding 12hr support by configuration at a later point. Please let me know what you think of the latest release & how it works.

[2022-08-11 20:42] #72 closed

[2022-08-11 20:43] danniehansen commented on #65
Hi @RomainH4890,

Unfortunately i didn't get around to attempting this for 2.2. I'll be postponing this for 2.3. I'll keep you posted.

[2022-08-16 06:34] MatejSz commented on #75
Super @danniehansen .
It works lovely now.

[2022-08-16 06:40] MatejSz commented on #76
Thank you @danniehansen
Test OK

[2022-10-12 13:05] grapheine opened #85 "Wrong time"
Hi,
We work with a trello column « Tâches en cours". As soon as a task is in progress, we drag the card into the column in progress. These cards can be manipulated by several people in the team.

When we look at the time spent, we see some strange calculations.
Here are some screenshots detailing our problem

<img width="300" alt="GraphiqueCollé-1" src="https://user-images.githubusercontent.com/1

[2022-10-18 13:23] grapheine commented on #85
<img width="910" alt="image" src="https://user-images.githubusercontent.com/14259646/196441892-91f9c02a-8b9c-48be-a24d-2046ae42eda8.png">

Another example...

[2022-10-18 13:47] grapheine commented on #85
other example :

<img width="1037" alt="image" src="https://user-images.githubusercontent.com/14259646/196447557-898536eb-4699-41f6-8fa2-9876696a299e.png">

You can see Emma putting the card on "Tâches en cours" the 6 oct at 14:10 and Nicolas removing the card at 18:45, but the time count is 91h ???

[2022-10-19 12:53] XpressDP opened #86 "Multiple cards"
Hi there

We started using your software and discovered that if you have multiple cards you work on as soon as you start a second card time the first one's time stops.

Is this an issue or was it fixed.

[2022-10-21 19:27] danniehansen commented on #85
@grapheine A follow up question and a clarification. You asked if we're using the movements on the card for the tracking. This we're not as tracking is perfectly possible without actually moving the card. One can just open a card and track on it, even if it hasn't moved. So there is every chance that a person has started the timer manually, after moving it away from your in progress column. One of

[2022-10-21 19:30] danniehansen commented on #86
Hi @XpressDP,

Glade to have you. Hope you're finding use of it.

This is actually by design. The powerup does not expect a person to work on more than 1 thing at any given time. I would prefer it to continue working like this, but if we get enough people to back the wish of excluding the '1 timer per person' rule, then I could opt for making it configurable.

[2022-10-23 19:14] danniehansen commented on #85
@grapheine I've spent a great deal of time today investigating this. Unfortunately, I've been unable to find any concrete items in the source-code that could directly contribute towards this issue.

However, as explained in my previous reply. I think this may play a huge tole in this occurring. We transparent Trello badge's on the board to approximate card movements. This is automatically updating

[2022-10-24 05:14] XpressDP commented on #86
Hi there

ok tx for the feedback. It works great but unfortunately we run a print shop and one person can work over a couple of printers at the same time so in essence they can work on a couple of jobs at the same time. So the software wont work for us. Tx

[2022-10-25 07:49] grapheine commented on #85
Salut @danniehansen

Thank you for looking for a solution.
Until now we were using the 3T power-up from bsode.
The latter, according to me, was just reading the activity of a card to deduce the time.

If I understand your message correctly, it seems that your system does not work like that.

For your information, our team is composed of 14 people.
And our board is filled with several hundred cards

[2022-10-26 17:24] danniehansen commented on #85
@grapheine Interesting regarding that other powerup which you mention. What they're most likely doing is reading this information off of their API & not through their existing client-side libraries. Doing this would require extensive re-work and also require users to up-front grant access to the API when setting up the power-up.

It may be that this power-up uses some undocumented functionality th

[2022-10-26 19:03] danniehansen commented on #85
@grapheine I've been looking at the source-code of 3T powerup and found that they are in fact doing everything server-side. Activity timer is built primarily using Trello's existing client-side data storage and capabilities for detecting card movement, storing card time etc. This naturally puts some limitations on what is possible for us seeing as we're limited by what is happening client side.

I

[2022-11-21 17:26] jonez1 opened #87 "Copied tasks inherits time records from original task"
Hello Dannie,
i'd like to report strange behavior i've noticed lately.

I have made a copy of one task where was some time measured, and the copy retained the recorded values from the original task.
I thought the time records were also duplicated, so i've deleted it ( `Manage Time > Clear` ), but it deleted the records at the original task too, which leads me to conclusion, that it inherited just